CHATURBATE_USERNAME="CHATURBATE_USERNAME"
CHATURBATE_TOKEN="CHATURBATE_API_TOKEN"
LOG_LEVEL="INFO"  # DEBUG, INFO, WARNING, ERROR, CRITICAL (Optional, default is INFO)
EVENT_STORE_TYPE="console"  # Change to "influxdb" to use InfluxDB
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_TOKEN="INFLUXDB_API_TOKEN"
INFLUXDB_ORG="YOUR_ORG"
INFLUXDB_BUCKET="YOUR_BUCKET"
