[tool.poetry]
name = "chaturbate-poller"
version = "0.6.11"
description = "Poller for the Chaturbate events API."
authors = ["MountainGod2"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/MountainGod2/chaturbate_poller"
documentation = "https://mountaingod2.github.io/chaturbate_poller/"

[tool.poetry.dependencies]
python = "^3.10"
httpx = {extras = ["http2"], version = "^0.27.0"}
python-dotenv = "^1.0.1"
pydantic = "^2.8.2"
backoff = "^2.2.1"
asyncio = "^3.4.3"
influxdb-client = "^1.44.0"

[tool.poetry.dev-dependencies]
mypy = "^1.11.1"
pytest = "^8.3.2"
pytest-asyncio = "^0.23.8"
respx = "^0.21.1"
httpx = "^0.27.0"
pytest-mock = "^3.14.0"
pytest-cov = "^5.0.0"
sphinx-autoapi = "^3.2.1"
sphinx-rtd-theme = "^2.0.0"
python-semantic-release = "^9.8.6"
ruff = "^0.5.6"
poetry = "^1.8.3"
myst-nb = {version = "^1.1.1", python = "^3.9"}
pre-commit = "^3.8.0"
pylint = "^3.2.6"

[tool.poetry.group.dev.dependencies]
myst-nb = "^1.1.0"
sphinx-autoapi = "^3.0.0"
sphinx-rtd-theme = "^2.0.0"
bandit = "^1.7.9"

[tool.poetry.scripts]
chaturbate_poller = "chaturbate_poller.__main__:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
source = ['chaturbate_poller']
relative_files = true

[tool.coverage.report]
exclude_also = [
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
    ]

[tool.semantic_release]
version_variable = "pyproject.toml:version"
version_toml = [
  "pyproject.toml:tool.poetry.version",
]
branch = "main"
changelog_file = "CHANGELOG.md"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "--cov=chaturbate_poller --cov-report=xml --cov-fail-under=80"
generate_report_on_test = "True"
asyncio_mode = "strict"

[tool.ruff]
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".ipynb_checkpoints",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pyenv",
  ".pytest_cache",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  ".vscode",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
  "out",
  "docs"
]
src = ["src", "tests", "docs"]
line-length = 100
indent-width = 4
target-version = "py311"
extend-include = ["*.ipynb"]

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  "COM812",  # conflicts with Ruff formatter
  "ISC001",  # conflicts with Ruff formatter
  "ANN101",  # missing-type-self (depricated)
  "ANN102",  # missing-type-cls (depricated)
]
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = "dynamic"

[tool.mypy]
exclude = ["out"]
disable_error_code = "import-untyped"

[tool.bandit]
exclude_dirs = ["tests",".venv"]
