name: Docker Build and Push

on:
  push:
    tags:
      - 'v*.*.*'  # Matches semantic version tags like v0.12.6

  release:
    types:
      - published

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up QEMU for Multi-Architecture Builds
        uses: docker/setup-qemu-action@v3.2.0

      - name: Set up Docker Buildx for Multi-Platform Builds
        uses: docker/setup-buildx-action@v3.7.1

      - name: Generate Docker Image Metadata
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ghcr.io/mountaingod2/chaturbate_poller
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value={{ sha }},prefix=commit-
            type=raw,value=latest,enable={{ is_default_branch }}

      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: '${{ github.repository_owner }}'
          password: '${{ secrets.GITHUB_TOKEN }}'

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64

      - name: Run Docker Image Tests
        run: docker run --rm ghcr.io/mountaingod2/chaturbate_poller:latest --version
